h1 {

    font-size: 30px;
    padding: 20px;
}

#customStyle{
color:greenyellow;
font-style: italic;
  text-align:center;
}

.anotherStyle {
    color:cyan
}

.container-fluid{
    padding: left 2px;
    padding: right 5px;
    padding: top 5px;
    background-color: khaki;
    float:left;
}

.important {
    color: red;
  }
  .unimportant {
    color: blue;
  }

  img {
    float:inline-start
  }