h1 {

    font-size: 30px;
    padding: 20px;
}

#customStyle{
color:greenyellow;
font-style: italic;
  text-align:center;
}

.anotherStyle {
    color:cyan
}

.container-fluid{
    padding: left 2px;
    padding: right 5px;
    padding: top 5px;
    background-color: khaki;
    float:left;
}

.important {
    color: red;
  }
  .unimportant {
    color: blue;
  }

  img {
    float:right;
  }

  .column {
    width: 350px;
    float: left;
    margin: 10px;
  }

  .test-box {
    border: 2px solid red;
    padding: 6px;
    margin: 60px;
    
  }

  